.login-bg{
   
}

.login-page{
    height: 100vh;
    background-image: linear-gradient(to bottom left, #ecc00b, #552d6d);
}

.login-page .col2{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: white ;
}


.login-page .ant-btn-primary {
    color: #fff;
    border-color: #502871;
    background: #502871;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
}

.login-page .ant-input-group-addon .ant-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
   border:none !important;
   border-left: none !important;
   border-bottom: 1px solid #d9d9d9 !important ;
   background-color: #fff;
   outline: #fff;
   width: 100% !important;
}


.login-page .ant-input {
    border: none !important;
    border-bottom: 1px solid #d9d9d9 !important;
    
    
}


.login-form-button{
    width: 100%;
}



.abc{
    position: relative;
}

.login-page .bee-img{
    position: absolute;
    top:0;
   
    left: 0;
    bottom: 0;
    padding-left: 25%;
    padding-top: 25%;
    z-index:1
    
}

.heading{
    color: white !important;
}


